<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Package source" value="C:\Users\marcs\Desktop\ProyectoNo1\Paquetes" />
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
    <add key="soa-itcr-21@Local" value="https://pkgs.dev.azure.com/soa-itcr-21/_packaging/soa-itcr-21%40Local/nuget/v3/index.json" />
  </packageSources>
</configuration>